## **DataTypes**

**Outline:**

- Introduction to Data Types
- Importance of Data Types in Programming
- Basic Data Types
  - Integers
  - Floating-point numbers
  - Strings
  - Booleans
- Advanced Data Types
  - Lists
  - Tuples
  - Sets
  - Dictionaries
- Type Conversion
- Practical Examples

### **1. Definition:**
 - Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
 - They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

### **2. Importance of Data Types in Programming**

Explanation:

 - Data types ensure that data is stored in an efficient way.
 - They help in performing correct operations on data.
 - Proper use of data types can prevent errors and bugs in the program.

In [1]:
## Integer Example
age = 25
type(age)  # Output: <class 'int'>
print(age)  # Output: 25

## Float Example
height = 5.9
type(height)  # Output: <class 'float'>
print(height)  # Output: 5.9

## String Example
name = "Alice"
type(name)  # Output: <class 'str'>
print(name)  # Output: Alice

## Boolean Example
is_student = True
type(is_student)  # Output: <class 'bool'>
print(is_student)  # Output: True

## List Example
fruits = ["apple", "banana", "cherry"]
type(fruits)  # Output: <class 'list'>
print(fruits)  # Output: ['apple', 'banana', 'cherry']

## Tuple Example
coordinates = (10.0, 20.0)
type(coordinates)  # Output: <class 'tuple'>
print(coordinates)  # Output: (10.0, 20.0)

## Dictionary Example
person = {"name": "Bob", "age": 30, "city": "NewYork"}
type(person)  # Output: <class 'dict'>
print(person)  # Output: {'name': 'Bob', 'age': 30, 'city': 'NewYork'}

## Set Example
unique_numbers = {1, 2, 3, 4, 5}
type(unique_numbers)  # Output: <class 'set'>
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

## None Example
value = None
type(value)  # Output: <class 'NoneType'>
print(value)  # Output: None

## Complex Number Example
complex_number = 2 + 3j
type(complex_number)  # Output: <class 'complex'>
print(complex_number)  # Output: (2+3j)

### Bytes Example
byte_data = b'Hello'
type(byte_data)  # Output: <class 'bytes'>
print(byte_data)  # Output: b'Hello'

### Bytearray Example
byte_array_data = bytearray(b'Hello')
type(byte_array_data)  # Output: <class 'bytearray'>
print(byte_array_data)  # Output: bytearray(b'Hello')

### Memoryview Example
memory_view_data = memoryview(b'Hello')
type(memory_view_data)  # Output: <class 'memoryview'>
print(memory_view_data)  # Output: <memory at 0x7f8bc8e0>
## Note: The output of the memoryview example may vary based on the memory address.

## Range Example
number_range = range(1, 10)
type(number_range)  # Output: <class 'range'>
print(number_range)  # Output: range(1, 10)

## Frozenset Example
immutable_set = frozenset([1, 2, 3, 4, 5])
type(immutable_set)  # Output: <class 'frozenset'>
print(immutable_set)  # Output: frozenset({1, 2, 3, 4, 5})

### NoneType Example
none_value = None
type(none_value)  # Output: <class 'NoneType'>
print(none_value)  # Output: None

25
5.9
Alice
True
['apple', 'banana', 'cherry']
(10.0, 20.0)
{'name': 'Bob', 'age': 30, 'city': 'NewYork'}
{1, 2, 3, 4, 5}
None
(2+3j)
b'Hello'
bytearray(b'Hello')
<memory at 0x106223a00>
range(1, 10)
frozenset({1, 2, 3, 4, 5})
None

### **Types Conversion in python**

In [ ]:
## Type conversion in Python
# In Python, you can convert a variable from one type to another using built-in functions.

# 1. int(): This function converts a value to an integer. Example:
x = 3.14
y = int(x) # y will be 3; the decimal part is truncated when converting a float to an integer. 

# 2. float(): This function converts a value to a float. Example:
x = 10
y = float(x) # y will be 10.0; when converting an integer to a float, a decimal point is added and the value is represented as a floating-point number.

# 3. str(): This function converts a value to a string. Example:
x = 25
y = str(x) # y will be "25"; when converting an integer to a string, the integer value is converted to its string representation.

# 4. bool(): This function converts a value to a boolean. Example:
x = 0
y = bool(x) # y will be False; in Python, the following values are considered False when converted to a boolean: 0, 0.0, 0j, None, False, and empty sequences (such as empty strings, lists, tuples, and dictionaries). All other values are considered True. Therefore, when converting a non-zero number to a boolean, it will be True. 
x = 1
y = bool(x) # y will be True; when converting a non-zero number to a boolean, it will be True.

# 5. list(): This function converts a value to a list. Example:
x = "hello"
y = list(x) # y will be ['h', 'e', 'l', 'l', 'o'] ; when converting a string to a list, each character in the string becomes an individual element in the list.

# 6. tuple(): This function converts a value to a tuple. Example:
x = [1, 2, 3]
y = tuple(x) # y will be (1, 2, 3); when converting a list to a tuple, the elements of the list are enclosed in parentheses to create a tuple.

# 7. dict(): This function converts a value to a dictionary. Example:
x = [("name", "gagan"), ("age", 25)]
y = dict(x) # y will be {"name": "gagan", "age": 25}; when converting a list of key-value pairs to a dictionary, each pair becomes a key-value entry in the dictionary.

# 8. set(): This function converts a value to a set. Example:
x = [1, 2, 3, 4, 5]
y = set(x) # y will be {1, 2, 3, 4, 5}; when converting a list to a set, duplicate elements are removed and the elements are unordered.

## sometimes, you may need to perform type conversion explicitly in your code to ensure that variables are of the correct type for certain operations. For example, if you want to perform mathematical operations on a variable that is currently a string, you would need to convert it to an integer or float first using the appropriate type conversion function.
#x = "10"
#y = x + 5 # This will raise a TypeError because you cannot add a string and an integer together.
x = "10"
y = int(x) + 5 # This will work because we have converted the string "10" to an integer before performing the addition operation. The result will be 15. 
x = "apple"
y = int(x) # This will raise a ValueError because the string "apple" cannot be converted to an integer. When you try to convert a string that does not represent a valid number to an integer using the int() function, it will raise a ValueError. This is because the int() function expects a string that can be interpreted as a valid integer, and "apple" does not meet that requirement. To avoid this error, you should ensure that the string you are trying to convert to an integer is a valid representation of a number. For example, if you have a string that contains a number.

### **Tried and Tested Examples**

In [ ]:
a=10
b=10
type(a=b) # This will raise a SyntaxError because the syntax is incorrect. The correct way to check the type of a variable is to use the type() function with the variable name as an argument, like this: type(a). The expression type(a=b) is not valid Python syntax and will result in a SyntaxError.
type(a==b) # This will return <class 'bool'> because the expression a==b evaluates to True, and the type of True is bool.